In [1]:
#https://qiita.com/upura/items/3c10ff6fed4e7c3d70f0
#とりあえず日本語での記事から学習して見とうと思い、qiitaの簡単そうな記事からトライしようと思いました。

In [2]:
import numpy as np
import pandas as pd

In [3]:
train = pd.read_csv('https://raw.githubusercontent.com/dominono9/pythonstudy/master/Titanic_Night-master/data/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/dominono9/pythonstudy/master/Titanic_Night-master/data/test.csv')
gender_submission = pd.read_csv('https://raw.githubusercontent.com/dominono9/pythonstudy/master/Titanic_Night-master/data/gender_submission.csv')

In [4]:
from sklearn.linear_model import LogisticRegression

#1分類器を設定
clf = LogisticRegression(penalty='l2', solver='sag', random_state=0)
#2学習させる
#↓を実行するとエラーになってしまう。
#clf.fit(X_train, y_train)

In [5]:
#clfの中身をとりあえず見てみる。
clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='sag', tol=0.0001, verbose=0,
                   warm_start=False)

In [6]:
#3予測させる
y_pred = clf.predict(X_test)

NameError: name 'X_test' is not defined

In [7]:
#csvを出力させる
sub = pd.DataFrame(pd.read_csv('../input/titanic/test.csv')['PassengerId'])
sub['Survived'] = list(map(int, y_pred))
sub.to_csv('submission.csv', index=False)

FileNotFoundError: [Errno 2] File ../input/titanic/test.csv does not exist: '../input/titanic/test.csv'

In [8]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q